<form class="form" [formGroup] = "registerForm">
  <mat-form-field class="form-control">
    <mat-label>E-mail</mat-label>
    <input matInput type="text" formControlName="email">
  </mat-form-field>
  <mat-form-field class="form-control">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <div class="form-footer">
    <button mat-button type="button" name="button" (click) = "createUser()">Create a user</button>
    <a routerLink="/login">Go to Login</a>
  </div>
</form>
